@tailwind base;
@tailwind components;
@tailwind utilities;

.base{
    color: rgb(77, 10, 139);
}
.active{
    background-color:rgb(223, 198, 247) !important ;
    font-weight: bold !important;
    color: rgb(149, 34, 184) !important;
}

.btn-base{
    font-weight: bold;
    color: white;
    background-color: blueviolet;
}
.featured-item{
    background-image: url('./assets/About/purple-water-1.jpg');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* height: 100vh;  */
    /* margin: 0; */
}
.react-tabs__tab--selected{
    color: rgb(230, 183, 42)!important;
    font-weight: bold !important;
}